.tCon{
  width:100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  padding-top: 20px;
}


table{
  width:70%;
  border-collapse: collapse;
  margin-top: 5%;
  box-shadow: 8px 8px 24px -3px rgba(0,0,0,0.63);

}

table tr th{
  font-size: 22px;
  color:white;
  font-family: 'nav';
  background: #8909bb;
  height:40px
}


tr:nth-child(odd) td{
  background-color: rgba(177, 127, 170, 0.534);
  color: rgb(8, 8, 8);
}

tr:nth-child(even) td{
  color:rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 1);

}

td{
  text-align: center;
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-trash-can{
  color:red;
}