.navbar {
  display:flex;
  height: 100px;
  width: 100vw;
  background-color: #8909bb;
  color: rgb(252, 170, 248);
  position: relative;
  justify-content: space-between;
  align-items: center;
 }

 ul {
  list-style: none;
  width:50%;
  position:relative;
  display: flex;
  justify-content: space-evenly;
 }

 li{
  height:20px;
  transition: .3s ease;
  font-size: 20px;

 }

 li:hover{
 color:white;
 padding-top:10px;
 cursor: pointer;
 }

 h2 {
   color: whitesmoke;
   padding-left:10px;
 }
